html,
body {
  height: 100%;
  /* IMPORTANT */
  margin: 0px;
  font-size: 16px;
  color: var(--primary-text-color);
  font-family: "Roboto Regular";
}

html {
  display: block;
  margin: auto;
}

body {
  overflow-x: hidden;
}

a:link,
a:hover,
a:active,
a:visited {
  list-style-type: none;
  text-decoration: none;
  border: none;
  padding: 0px;
  margin: 0px;
  color: inherit;
}

textarea {
  resize: vertical;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
  margin: 15px 5px;
}

:root {
  --main-width: calc(100% - 40px);
  --main-max-width: 1350px;
  --primary-text-color: #333;
  --secondary-text-color: #727272;
  --third-text-color: #fff;
}

%main-wrapper {
  margin: auto;
  width: var(--main-width);
  max-width: var(--main-max-width);
}

.landing {
  overflow: hidden;
  background: url(/img/Fondo_0.svg);
  background-size: cover;
  background-position: center;
  height: 100%;

  .landing__textos {
    margin-top: 40%;
    text-align: center;
    line-height: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #333;
  }

  .landing__thumbnail {
    margin: 10% 0%;
    text-align: center;
  }

  .landing--bottom {
    margin-top: 10%;
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.backgroung-login-container {
  overflow: hidden;
  background: url(/img/Fondo_1.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  font-family: "Poppins", sans-serif;

  .login__titulo-imagen {
    display: flex;
    margin: 25% 7%;
    justify-content: space-between;
  }

  .login__titulo {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 35px;
    color: var(--third-text-color);
    margin-top: 20%;
  }

  .credenciales__titulos {
    font-style: normal;
    font-size: 20px;
    line-height: 5px;
    text-align: center;
    color: var(--third-text-color);
  }

  .credenciales__barraContenido {
    display: block;
    margin: 8% auto 0%;
    width: 214px;
    height: 36px;
    background-color: var(--third-text-color);
    border-radius: 20px;
    border: #333;
  }

  .clave__texto{
    margin-bottom: 0px;
  }

  .barra_clave{
    margin-top: 15px;
  }
  .credenciales__boton {
    display: block;
    margin: 2% auto 0%;
    color: var(--third-text-color);
    background-color: #000;
    border: none;
    border-radius: 20px;
    width: 122px;
    height: 36px;
  }
}

.background-selection-container {
  overflow: hidden;
  background: url(/img/Fondo_2.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  font-family: "Poppins", sans-serif;

  .menuHam {
    margin-top: 20%;
    margin-left: 3%;
  }

  .selection__mainText {
    margin-top: 45px;
    line-height: 20px;
    color: var(--third-text-color);
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
    text-align: center;
  }

  .opciones {
    display: flex;
    margin-top: 15%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .opciones__shape {
    width: 126px;
    height: 124px;
    margin: 5% 8%;
    border-radius: 35px;
    border: var(--primary-text-color) 1px;
    background: url(/img/opcion_fondo2.svg);
    overflow: hidden;
  }

  .opcion__extracto {
    margin: 0;
    padding: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-text-color);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
}

/* Independientes start  -- gran parte de la vista de busqueda*/
.menuHam--2 {
  margin-top: 20%;
  margin-left: 3%;
}

.black_line {
  display: block;
  text-align: center;
  width: 247px;
  height: 1px;
  background-color: #000;
  margin: 1px auto;
}

.carreraTitle {
  margin-top: 5%;
}

.carreraTitle__extracto {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.carreraTitle__extracto_2 {
  font-size: 15px;
  text-align: center;
  color: #b4b4b4;
  margin: 0;
}

.busqueda {
  margin-top: 15%;
  margin-left: 5%;
}

.busqueda__texto {
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
  margin-left: 3%;
  color: var(--third-text-color);
}

.formulario_barras {
  display: block;
  width: calc(100% - 20px);
  height: 36px;
  background-color: var(--third-text-color);
  border-radius: 20px;
  border: #333;
}

.buttons {
  margin: 5% 10%;
  display: flex;
  justify-content: space-between;
  color: var(--third-text-color);
}

.buttons__atras {
  font-size: 20px;
  border: none;
  background: none;
  color: var(--third-text-color);
}

.buttons__buscar {
  font-size: 20px;
  border: none;
  background: none;
  color: var(--third-text-color);
}

.fas {
  font-size: 20px;
}

.button_atras_colec:hover {
  background-color: #306317;
}

.button_buscar_colec:hover {
  background-color: #306317;
}
/* Independientes end */

.solicitudesStatus {
  margin-top: 8%;

  .solicitudesStatus__status {
    text-align: center;
    font-weight: 500;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    margin: 0;
  }

  #solicitudesStatus__green {
    list-style: url(/img/green_dot.svg);
    line-height: 35px;
    font-size: 16px;
  }

  #solicitudesStatus__red {
    list-style: url(/img/red_dot.svg);
    line-height: 35px;
    font-size: 16px;
  }
}

.background-selectionTesis_carrera-container {
  overflow: hidden;
  background: url(/img/Fondo_3.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  font-family: "Poppins", sans-serif;

  .menuHam--2 {
    margin-top: 20%;
    margin-left: 3%;
  }

  .selectionTitle {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
  }
  .selectionCarrera_list {
    margin-top: 18%;
    list-style: url(/img/white_dot.svg);
    line-height: 45px;
    font-size: 20px;
    color: var(--third-text-color);
  }
}

.background-selectionTesis_busqueda-container {
  overflow-x: hidden;
  background: url(/img/Fondo_3.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.background-resultados-container {
  .resultado_title {
    text-align: center;
    font-size: 25px;
    line-height: 25px;
    margin-top: 10%;
  }

  .resultado__extracto {
    margin: 2px;
  }

  .resultado {
    margin-top: 10%;
  }

  .resultado__principal {
    display: flex;
    justify-content: space-between;
    border: 1px #000;
  }

  .resultado__extra {
    display: flex;
    justify-content: space-around;
  }

}

.background-selectionTesis_formulario-container {
  overflow-x: hidden;
  background: url(/img/Fondo_5.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  font-family: "Poppins", sans-serif;

  .fecha_actual {
    margin-left: 60%;
  }
  .fecha_barra {
    margin-left: 47%;
    width: calc(60% - 60px);
    margin-bottom: 7%;
  }

  .form_flex {
    display: flex;
  }

  .lines {
    display: block;
    margin: 7% 0px;
  }

  .--white {
    background-color: var(--third-text-color);
    margin-top: 5px;
    height: 3px;
    width: 335px;
  }

  .--center {
    text-align: center;
    margin: 0;
  }

  .horario {
    display: flex;
  }

  .dia {
    margin-left: 32%;
  }

  .hora {
    margin-left: 32%;
  }
}

.background-info-container {
  overflow-x: hidden;
  background: url(/img/Fondo_4.svg) no-repeat;
  background-position: center;
  width: 235px;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: var(--third-text-color);

  .info_bienvenida {
    margin-top: 10%;
    margin-left: 2%;
    font-size: 14px;
  }

  .info_opciones {
    font-weight: lighter;
    margin-top: 25%;
    line-height: 50px;
  }
}

.background-msj-container {
  text-align: center; 
  width: auto;
  

  .msj{
    text-align: center;
    background: #d1d1d1;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    color: black;
    width: 361px;
    height: 89px;
    overflow: hidden;
  }

  .msj_salir{
    margin: 100%;
    padding: 100%;
  }
  .msj_texto{
    margin: 0;
    font-weight: 600;
    
  }
}

